/ details
.profile-holder
  / image
  - if @current_profile.image_url?
    = image_tag("#{@current_profile.image_url}?type=large", alt: @current_profile.image_url, class: 'img')
  - else
    .ion-person.img
  / links
  .btn-group-vertical.links role='group'
    .btn-group
      = link_to profile_pins_path(@current_profile), class: 'btn btn-default btn-flat text-center', data: { placement:'bottom' }, title: "#{@current_profile.first_name}\'s pins" do 
        span.glyphicon.glyphicon-pushpin
    .btn-group
      = link_to profile_communities_path(@current_profile), class: 'btn btn-default btn-flat text-center', data: { placement:'bottom' }, title: "#{@current_profile.first_name}\'s communities" do 
        span.glyphicon.glyphicon-blackboard
    .btn-group
      = link_to profile_path(@current_profile), class: 'btn btn-default btn-flat text-center', data: { placement:'bottom' }, title: "#{@current_profile.first_name}\'s tourism contributions" do 
        span.glyphicon.glyphicon-tree-conifer
    .btn-group
      = link_to profile_shops_path(@current_profile), class: 'btn btn-default btn-flat text-center', data: { placement:'bottom' }, title: "#{@current_profile.first_name}\'s shops" do 
        span.glyphicon.glyphicon-tent
/ infos
ul.list-group
  li.list-group-item
    p.title
      - if @current_profile == current_user
        span.pull-right
          = link_to edit_profile_path(@current_profile), class: 'btn pT0 pB0 btn-sm btn-default'
            span.glyphicon.glyphicon-pencil.mR10
            span Edit
      span Personal Detail

  li.list-group-item
    p
      strong Name:
      span.mL10
        = @current_profile.full_name
  li.list-group-item
    p
      strong Gender:
      span.mL10
        = @current_profile.gender
  li.list-group-item
    p 
      strong Email:
      span.mL10
        = @current_profile.email