.slide-in.mT20
  .row
    .col-md-3
      = render 'profiles/profile'
    .col-md-8
      .communities
        h4.mB20
          strong #{@current_profile.first_name}'s Communities
        - if @current_profile == current_user
          .clearfix.mB20
            = link_to new_community_path, class: 'btn btn-default btn-flat text-center' do 
              span.glyphicon.glyphicon-blackboard.mR10
              strong Create a community
        ul.timeline
          - if @communities.blank?
            li
              .fa
              .timeline-item
                .timeline-header
                   .text-center No communties added yet.
                 
          - else
              = render @communities
        / load more button
        = load_more_button(@communities, profile_communities_path(@current_profile, page: next_page))