<% if @communities.blank? %>
  $('.communities .alert-notification').html("<%= escape_javascript(render 'shared/flash') %>")
  setTimeout(function() {
    $('.alert-notification').html('')
  }, 3000)
  $('button#load_more').remove()
<% else %>
  $('.communities .timeline').append("<%= escape_javascript(render @communities) %>")
  $('button#load_more').parent().parent().attr('action', "<%= profile_communities_path(@current_profile, page: next_page) %>")
<% end %>