  .row
    .col-md-8.col-md-offset-2
      .box.devise-box.box-solid.box-success
        .box-header
          h3.box-title.text-center My Profile
        .box-body
          = form_for current_user, url: profile_path(current_user), role: 'form' do |f|
            .form-group
              = f.label :first_name
              = f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: 'First name'
            .form-group
              = f.label :last_name
              = f.text_field :last_name, autofocus: true, class: 'form-control', placeholder: 'Last name'
            .form-group
              = f.label :gender
              = f.select :gender, %w(male female), {}, autofocus: true, class: 'form-control', placeholder: 'Gender'
            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'
            .form-group
              .row
                .col-md-6
                  = link_to 'Cancel', :back || root_path, class: 'btn btn-default btn-block'
                .col-md-6
                  = f.submit 'Update', class: 'btn btn-block btn-success', data: { disable_with: "Processing..." }

  - unless current_user.provider?
    .row
      .col-md-8.col-md-offset-2
        .box.devise-box.box-solid.box-success
          .box-header
            h3.box-title.text-center Password Settings
          .box-body
            = form_for current_user, url: profile_update_password_path(current_user), method: 'put', role: 'form' do |f|
              .form-group
                = label_tag :current_password
                = f.password_field :current_password, autocomplete: 'off', class: 'form-control', placeholder: 'Current Password'
              .form-group
                = label_tag :new_password
                - if @validatable 
                  em.mL5.secondary-color #{@minimum_password_length} characters minimum
                = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password'
              .form-group
                = f.label :password_confirmation
                = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: 'Password confirmation'
              .form-group
                .row
                  .col-md-6
                    = link_to 'Cancel', :back || root_path, class: 'btn btn-default btn-block'
                  .col-md-6
                    = f.submit 'Update', class: 'btn btn-block btn-success', data: { disable_with: "Processing..." } 