.slide-in
  .row
    .col-md-3
      = render 'profile'
    / map 
    .col-md-9
      .maps
        .clearfix.mB20
          - if @current_profile == current_user
          
            = link_to new_tourism_path, class: 'btn btn-default btn-flat text-center' do 
              span.glyphicon.glyphicon-tree-conifer.mR10
              strong contribute to tourism
        .map-container
          noscript
            .alert.alert-danger
              p
                strong Ops your javascript is disabled, we can't show you the map.
          #map-content style='width: 800px; height: 400px;'
        javascript:
          var coords = JSON.parse('#{raw(@tourisms)}')
          renderMap('map-content', coords )

