<% if @pins.blank? %>
  $('.pins .alert-notification').html("<%= escape_javascript(render 'shared/flash') %>")
  setTimeout(function() {
    $('.alert-notification').html('')
  }, 3000)
  $('button#load_more').remove()
<% else %>
  $('.pins .timeline').append("<%= escape_javascript(render @pins) %>")
  $('button#load_more').parent().parent().attr('action', "<%= profile_pins_path(@current_profile, page: next_page) %>")
<% end %>