.slide-in.mT20
  .row
    .col-md-3
      = render 'profiles/profile'
    .col-md-8
      .pins
        h4.mB20
          strong #{@current_profile.first_name}'s Pins
        ul.timeline
          - if @pins.blank?
            li
              .fa
              .timeline-item
                .timeline-header
                   .text-center No pins added yet.
                 
          - else
              = render @pins
        / load more button
        = load_more_button(@pins, profile_pins_path(@current_profile, page: next_page))