<% if @shops.blank? %>
  $('.shops .alert-notification').html("<%= escape_javascript(render 'shared/flash') %>")
  setTimeout(function() {
    $('.alert-notification').html('')
  }, 3000)
  $('button#load_more').remove()
<% else %>
  $('.shops .timeline').append("<%= escape_javascript(render @shops) %>")
  $('button#load_more').parent().parent().attr('action', "<%= profile_shops_path(@current_profile, page: next_page) %>")
<% end %>