.slide-in.mT20
  .row
    .col-md-3
      = render 'profiles/profile'
    .col-md-8
      .shops
        h4.mB20
          strong #{@current_profile.first_name}'s Shops
        - if @current_profile == current_user
          .clearfix.mB20
            = link_to new_shop_path, class: 'btn btn-default btn-flat text-center' do 
              span.glyphicon.glyphicon-blackboard.mR10
              strong Create a shop
        ul.timeline
          - if @shops.blank?
            li
              .fa
              .timeline-item
                .timeline-header
                   .text-center No shops added yet.
                 
          - else
              = render @shops
        / load more button
        = load_more_button(@shops, profile_shops_path(@current_profile, page: next_page))