<% if @tourisms.blank? %>
  $('.tourisms .alert-notification').html("<%= escape_javascript(render 'shared/flash') %>")
  setTimeout(function() {
    $('.alert-notification').html('')
  }, 3000)
  $('button#load_more').remove()
<% else %>
  $('.tourisms .timeline').append("<%= escape_javascript(render @tourisms) %>")
  $('button#load_more').parent().parent().attr('action', "<%= profile_path(@current_profile, page: next_page) %>")
<% end %>