.slide-in
  .row
    .col-md-3
      = render 'profile'
    / tourism 
    .col-md-8
      .tourisms
        .clearfix.mB20
          - if @current_profile == current_user
          
            = link_to new_tourism_path, class: 'btn btn-default btn-flat text-center' do 
              span.glyphicon.glyphicon-tree-conifer.mR10
              strong New contribution
          .pull-right
            = link_to profile_map_path(@current_profile), class: 'btn btn-default btn-flat text-right' do 
              span.glyphicon.glyphicon-map-marker.mR10
              strong Map view

        ul.timeline
          - if @tourisms.blank?
            li
              .fa
              .timeline-item
                .timeline-header
                   .text-center No tourism contributions available yet.
                 
          - else
            = render partial: 'tourisms/tourism', collection: @tourisms
        / load more button
        = load_more_button(@tourisms, profile_path(@current_profile, page: next_page))
