.devise
  .row
    .col-md-6.col-md-offset-1
      = render 'devise/shared/kabuhayan_wordings'
    .col-md-4.mB100.devise-box
      .box.box-solid.box-success
        .box-header
          h3.box-title.text-center Sign up
        .box-body
          = devise_error_messages!
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'
            .form-group
              = f.label :password
              - if @validatable 
                em.mL5.secondary-color #{@minimum_password_length} characters minimum
              = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password'
            .form-group
              = f.label :password_confirmation
              = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: 'Password confirmation'
            .form-group
              = f.label :first_name
              = f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: 'First name'
            .form-group
              = f.label :last_name
              = f.text_field :last_name, autofocus: true, class: 'form-control', placeholder: 'Last name'
            .form-group
              = f.label :gender
              = f.select :gender, %w(male female), {}, autofocus: true, class: 'form-control', placeholder: 'Gender'
            .form-group
              = f.submit 'Sign up', class: 'btn btn-block btn-success'
        .box-footer
          .clearfix
            = render "devise/shared/links"