li.pin id='pin-#{pin.id}'
  span.font-size-20 class=resource_icon(pin.type)
  .timeline-item
    span.label.label-success.pull-right
      = pin.pinnable_resource.category.downcase
    .time
      = timeago_tag(pin.pinnable_resource.updated_at, :nojs => true, :limit => 10.days.ago)
    .timeline-header
      = link_to profile_path(pin.pinnable_resource.user) do
        = pin.pinnable_resource.user.full_name
    .timeline-body
      p
        strong 
          = link_to pin.pinnable_resource.name.humanize, pinnable_resource_path(pin), class: 'title primary-color'
      .timeline-image
        .previewer
          .preview style='background-image: url(#{pinnable_image(pin)})'
      p.short-description
       = sanitize_text(pin.pinnable_resource.description)
    - if pin.owner?(current_user)
      .timeline-footer.with-border
        .clearfix
          small.time.secondary-color You pinned this #{timeago_tag(pin.updated_at, :nojs => true, :limit => 10.days.ago)}
          .pull-right
            = button_to pin_path(pin), method: :delete, remote: true, class: 'btn btn-sm pT0 pB0 btn-danger btn-flat' do
              span.glyphicon.glyphicon-pushpin.mR10
              span unpin