.comment.feedback data-comment=comment.id
  .col-md-12
    .box
      .box-header.with-border
        .user-avatar.pull-left
          - if comment.user.image_url?
            img src=comment.user.image_url
          - else
            span.glyphicon.glyphicon-user.font-size-40.mR10
        h3.box-title.pull-left.mT5
          = link_to profile_path(comment.user) do
            p.mB0 
              = comment.user.full_name
            small
              = timeago_tag(comment.created_at, :nojs => true, :limit => 10.days.ago)
        .pull-right
          - if current_user == comment.user
            = button_to comment_path(comment), method: :delete, remote: true, class: 'btn btn-sm btn-flat btn-default text-black text-center pB0 pT0', data: { disable_with: 'removing...'} do
              span remove
      .box-body
        p
          = raw comment.message