= form_tag comments_path, role: 'form', remote: true, id: 'new_comment', authenticity_token: true do

    = hidden_field_tag(:type, model.class.name)
    = hidden_field_tag(:type_id, model.id)
    / message
    .form-group
      = text_area_tag(:message, nil, class: 'form-control wysi-editor', placeholder: 'Write comment...')
    .form-group
      = submit_tag 'Submit Comment', class: 'btn btn-block btn-success',  data: { disable_with: "Processing..." }