.comments.feedbacks id='comments-#{model.class.name.downcase}-#{model.id}'
  .box.box-solid
    .box-header.bg-green
      h3.box-title Comments
      .box-tools.pull-right
        button.btn.btn-box-tool data-widget='collapse'
          span.ion.ion-minus
    .box-body
      .row
        .inner-comments
          
          - if model.comments.empty?
            p.text-center No comments yet.
          - else
            = render model.comments
    .box-footer
      = comment_form(model) if show_form