= form_for @shop, role: 'form' do |f|
  .box-body
    / Name
    .form-group
      label Name
      = f.text_field :name, class: 'form-control', placeholder: 'Name'
    / Description
    .form-group
      label Description
      = f.text_area :description, class: 'form-control wysi-editor', placeholder: 'Description'
    / Category
    .form-group
      label Category
      = f.select :category, category_options_for_shop(@shop), {}, class: 'form-control select-2', placeholder: 'Category'
    / Location
    .form-group
      label Location
      = f.select :location, location_options(@shop), {}, class: 'form-control select-2', placeholder: 'Location'
    / Contact Mobile Number
    .form-group
      label Contact Mobile Number
      = f.text_field :mobile, class: 'form-control', placeholder: 'Mobile Number'
    / Contact Telephone Number
    .form-group
      label Contact Telephone Number
      = f.text_field :telephone, class: 'form-control', placeholder: 'Telephone Number'
    / Banner Image
    .form-group
      label Banner Image (recommended banner size: 1024x500 pixel)
      = f.file_field :banner_image, class: 'form-control', placeholder: 'Banner Image', accept: 'image/png,image/gif,image/jpeg'
    / Status
    .form-group
      label Status
      = f.select :status, status_options_for_shop(@shop), {}, class: 'form-control select-2', placeholder: 'Status'
  .box-footer
    .row
      .col-md-6.mT5
        = link_to 'Cancel', :back || root_path, class: 'btn btn-default btn-block'
      .col-md-6.mT5
        = f.submit 'Save', class: 'btn btn-block btn-success',  data: { disable_with: "Processing..." }