.resource-actions.links
  .btn-group
    - if @shop.owner?(current_user)
      = link_to edit_shop_path(@shop), class: 'btn btn-default btn-flat btn-sm' do 
        span.glyphicon.glyphicon-pencil.mR10
        span Edit
      = link_to new_shop_product_path(@shop), class: 'btn btn-default btn-flat btn-sm' do 
        span.glyphicon.glyphicon-briefcase.mR10
        span New product
    = link_to profile_path(@shop.user), class: 'btn btn-default btn-flat btn-sm', title: 'Shop Owner' do 
      span.glyphicon.glyphicon-user.mR10
      span 
        = @shop.user.full_name.humanize
  