.box.box-success.box-solid
  .box-header
    h3.box-title
      = defined?(title) && title.nil? ? 'My Shops' : title
    .box-tools.pull-right
      button.btn.btn-box-tool data-widget='collapse'
        span.ion.ion-minus
  .box-body
    - if @shop.user.shops.empty?
      p.text-center No shop created yet.
    - else
      ul.products-list.product-list-in-box
        - @shop.user.shops[0, 10].each do |shop|
          = link_to shop_path(shop) do
            li.item
              .product-info
                .product-title
                  = shop.name
                .product-description
                  = shop.location.humanize 