li.shop id='shop-#{shop.id}'
  span.font-size-20.glyphicon.glyphicon-tent.bg-green
  .timeline-item
    span.label.label-success.pull-right
      = shop.category.downcase
    .time 
      = timeago_tag(shop.created_at, :nojs => true, :limit => 10.days.ago)
    .timeline-header
      = link_to shop.name.humanize, shop_path(shop), class: 'title primary-color'
    .timeline-body
      .timeline-image
        - if shop.banner_image?
          .previewer
            .preview style='background-image: url(#{shop.banner_image_url})'
        - else
          span.ion-image
      p.short-description
       = sanitize_text(shop.description)
    
    - if shop.owner?(current_user)
      .timeline-footer.with-border
        .clearfix
          .pull-right
            = link_to edit_shop_path(shop), class: 'btn btn-sm pT0 pB0 btn-default btn-flat' do
              span.ion-edit.mR10
              span edit
