- content_for(:content_header) do 
  .row
    .col-md-12
      h3 
        span.glyphicon.glyphicon-tent.mR10
        span Edit Shop - #{@shop.name.humanize}

.row
  / form
  .col-md-8
    .slide-in
      .box.box-success.box-solid
        .box-header
          h3.box-title 
            span.glyphicon.glyphicon-pencil.mR10
            span Edit Shop
        = render 'form'
      / banner image
      - unless @shop.banner_image.blank?
        .box.box-solid.box-success.banner_image_preview
          .box-header
            h3.box-title
              span.glyphicon.glyphicon-picture.mR10
              span Banner Image
          .box-body
            .row
              .col-md-12
                .text-center
                  / img src=image_banner_path(@shop.banner_image_url, size: 600) 
                  = image_tag(@shop.banner_image_url)       

  / shops
  .col-md-4
    = render 'shop_list', title: nil