- content_for(:content_header) do 
  .row
    .col-md-10.col-md-offset-1
      .banner-header
        - unless @shop.banner_image.blank?
          .image style='background-image: url(#{@shop.banner_image_url})'
        .banner-title
          .pull-left
            h3
              = @shop.name.humanize
            p
              strong.glyphicon.glyphicon-map-marker.mR10
              span = @shop.location.humanize
            p
              strong.glyphicon.glyphicon-phone.mR10
              span = @shop.contact_number.humanize
          / view count
          .pull-right.links.mR10
            = link_to profile_path(@shop.user), class: 'thumbnail', data: { placement: 'left' }, title: "Shop Owner: #{@shop.user.full_name.humanize}" do
              - if @shop.user.image_url?
                = image_tag(@shop.user.image_url)
              - else
                span.ion-person.font-size-30
            = render 'shared/view_count_button'

        .banner-category
          p.label.label-danger
            = "Shop: #{@shop.category.humanize}"
        .mL10
          = button_raters(@shop, current_user, { comment: true })
.row
  .col-md-10.col-md-offset-1.mT-15
    .slide-in
      / details
      .details
        .box.box-solid
          .box-header
            h3.box-title
              .mT10
                span.glyphicon.glyphicon-info-sign.mR10
                span.header-label Description
              = render 'resource_actions'
          .box-body
            p
             = raw @shop.description
      / products
      .products
        h4.bg-green.p10 Available Products
        - if @shop.products.empty?
          p.text-center.mT20 No products available.
        - else
          .row
            - @shop.products.each do |product|
              .col-md-4
                .item
                  = link_to shop_product_path(@shop, product) do 
                    .image-holder
                      / image
                      .item-image
                        - if product.images.first
                          .inner-image style='background-image: url(#{product.images.first.medium_url})'
                        - else
                          p.text-center No Image
                    / name
                    .item-content
                      h4
                        = product.name
                      / price
                      p
                        strong Price: 
                        span
                          = currency_format product.price
                      / created
                    .timeago 
                      p Posted #{timeago_tag(product.created_at, :nojs => true, :limit => 10.days.ago)}
  