<% if @image.errors.blank? %>
  $("#product-thumb-<%= @image.id %>").remove()
  $('.flash-message').html('')
<% else %>
  $('.flash-message').html("<%= escape_javascript(render 'shared/flash') %>")
<% end %>