.carousel.slide#intro-slider data-ride='carousel'
  / images
  .carousel-inner
    - (1..3).each do |i|
			- if $mobile.blank?
				.item style='background-image: url(#{asset_path("_#{i}.jpg")})' class=active?(i - 1) 
			- else
				.item style='background-image: url(#{asset_path("#{i}.jpg")})' class=active?(i - 1) 