.kabuhayan-container.mT20.mB100
  .col-md-12
    = render 'devise/shared/kabuhayan_logo'
    .wordings
      h3 Post. Search. Pin.
      h4 Kabuhayan Portal is platform for small agricultural business such as fishermen, farmers, and homemakers. It is where they can sell fresh goods and products from their native land. It is also a tool wherein they can promote tourism.