<li class="message-box box box-solid bg-red bounceInDown">
  <div class="box-body clearfix">
    <a href="#" class="p5 pull-right remove-box" data-widget="remove" data-toggle="tooltip" data-original-title="Remove">
      <i class="ion-close"></i>
    </a>
    <div class="pull-left col-md-10 pL5 pR0">
      <p><%= message %></p>
    </div>
  </div>
</li>