<li class="message-box box box-solid box-default bounceInDown">
  <div class="box-body clearfix">
    <a href="#" class="p5 pull-right remove-box" data-widget="remove" data-toggle="tooltip" data-original-title="Remove">
      <i class="ion-close"></i>
    </a>
    <a href="<%= url %>">
	    <div class="pull-left col-md-10 pL5 pR0">
	      <h5><%= message %></h5>
	    </div>
	  </a>
  </div>
</li>