li.list-group-item.links class=notification_seen?(notification)
	= link_to File.join('/',"#{notification.notifiable_type.downcase.pluralize}", "#{notification.notifiable.id}"), class: 'notification-link', data: { id: notification.id }, title: notification.message do
		- if notification.comment?
			span.glyphicon.glyphicon-comment.mR10.text-aqua.font-size-24
		- elsif notification.post?
			span.glyphicon.glyphicon-pencil.mR10.text-orange.font-size-24
		- elsif notification.pin?
			span.glyphicon.glyphicon-pushpin.mR10.text-blue.font-size-24
		- elsif notification.thumbsup?
			span.glyphicon.glyphicon-thumbs-up.mR10.text-green.font-size-24
		- elsif notification.thumbsdown?
			span.glyphicon.glyphicon-thumbs-down.mR10.text-red.font-size-24
		- elsif notification.new_order? || notification.order_update_from_owner? || notification.order_update_from_buyer?
			span.ion-bag.mR10.text-maroon.font-size-24
		span
			= notification.message
		.clearfix
			small
				= timeago_tag(notification.created_at, :nojs => true, :limit => 10.days.ago)