<% if @notifications.blank? %>
  $('.notifications .alert-notification').html("<%= escape_javascript(render 'shared/flash') %>")
  setTimeout(function() {
    $('.alert-notification').html('')
  }, 3000)
  $('button#load_more').remove()
<% else %>
  $('.notifications ul.list-group').append("<%= escape_javascript(render partial: 'notification', collection:  @notifications) %>")
  $('button#load_more').parent().parent().attr('action', "<%= notifications_path(page: next_page)%>")
<% end %>