.slide-in.mT20
	.row
		.col-md-8.col-md-offset-2
			.panel.panel-default
				.panel-heading.with-border
					span.ion-earth.mR10.text-green
					span Notifications 
					sapn.count #{"(#{current_user.notifications.size})"}
				- if @notifications.size > 0
					ul.list-group
						= render @notifications
					/ load more button
					.p10
						= load_more_button(@notifications, notifications_path(page: next_page))
				- else
					p.pT10.text-center You don't have any notifications yet.