.devise
  .row
    .col-md-6.col-md-offset-1
      = render 'devise/shared/kabuhayan_wordings'
    .col-md-4.mB100.devise-box
      .box.box-solid.box-success
        .box-header
          h3.box-title.text-center Change your password
        .box-body
          = devise_error_messages!
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
            = f.hidden_field :reset_password_token
            .form-group
              = f.label :password, 'New password'
              = f.password_field :password, autofocus: true, class: 'form-control', placeholder: 'New password'
            .form-group
              = f.label :password_confirmation, 'Confirm new password'
              = f.password_field :password_confirmation, autofocus: true, class: 'form-control', placeholder: 'Confirm new password'
            .form-group
              = f.submit 'Change my password', class: 'btn btn-block btn-success'
        .box-footer
          .clearfix
            = render "devise/shared/links"