.devise
  .row
    .col-md-6.col-md-offset-1
      = render 'devise/shared/kabuhayan_wordings'
    .col-md-4.mB100.devise-box
      .box.box-solid.box-success
        .box-header
          h3.box-title.text-center Forgot your password?
        .box-body
          = devise_error_messages!
          = form_for(resource, as: resource_name, url: password_path(resource_name)) do |f|
            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'
            .form-group
              = f.submit 'Send me reset password instructions', class: 'btn btn-block btn-success'
        .box-footer
          .clearfix
            = render "devise/shared/links"
