.button-raters.mB5.mT5
  .btn-group role='group'
    - unless disabled[:rate]
      / thumbs up
      .btn-group.positive-rate role='group'
        = button_to ratings_path({ category: 'positive', type_id: model.id, type: model.class.name }), form_class: 'rate-button', method: :post, remote: true, class: "btn btn-sm btn-default #{rated!(model, 'positive', current_user)}", id: "#{model.class.name.downcase}-rate-positive-#{model.id}" do
          span.glyphicon.glyphicon-thumbs-up
          span.inner.mL10
            = ratings(model.ratings, 'positive')
      / thumbs down
      .btn-group.negative-rate role='group'
        = button_to ratings_path({ category: 'negative', type_id: model.id, type: model.class.name }), form_class: 'rate-button', method: :post, remote: true, class: "btn btn-sm btn-default #{rated!(model, 'negative', current_user)}", id: "#{model.class.name.downcase}-rate-negative-#{model.id}" do
          span.glyphicon.glyphicon-thumbs-down
          span.inner.mL10
            = ratings(model.ratings, 'negative')
    - unless disabled[:pin]
      / pin
      .btn-group.pin role='group'
        = button_to pins_path({ type_id: model.id, type: model.class.name }), form_class: 'pin-button', method: :post, remote: true, class: "btn btn-sm btn-default #{pinned!(model, current_user)}", id: "#{model.class.name.downcase}-pin-#{model.id}" do
          span.glyphicon.glyphicon-pushpin
          span.inner.mL10 
            = model.pins.size
    / comments
    - unless disabled[:comment]
      .btn-group.comment-count role='group'
        = button_tag class: 'btn btn-sm btn-default', disabled: true, id: "comments-#{model.class.name.downcase}-#{model.id}-count" do
          span.glyphicon.glyphicon-comment
          span.inner.mL10 
            = model.comments.size
          