footer.footer.mT60
  p.text-center
    | &copy; 2015 #{'#{CodeFreeze}'} Lab. All rights reserved
  p.text-center
  	= link_to 'Home |', home_path
    = link_to 'About Us |', about_path
    = link_to 'Privacy Policy |', privacy_policy_path
    = link_to 'Contact Us', contact_us_path