header.main-header
  / logo
  = link_to root_path, class: 'logo' do
    strong Kabuhayan Portal
  nav.navbar.navbar-static-top role='navigation'
    a.sidebar-toggle data-toggle='offcanvas' href=profile_path(current_user) role='button'
      span.glyphicon.glyphicon-align-justify
      span.sr-only Toggle Navigation
    
    / left
    .navbar-custom-menu.pull-left
      ul.nav.navbar-nav
        li
          = link_to root_path, title: 'Home' do 
            span.glyphicon.glyphicon-home.mR5
            span.header-label Home
        li
          = link_to tourisms_path, title: 'Tourisms' do
            span.glyphicon.glyphicon-tree-conifer.mR5
            span.header-label Tourism
    / right
    .navbar-custom-menu
      ul.nav.navbar-nav
        - if current_user
          / notifications
          = render 'shared/notifications'

          li.dropdown.user.user-menu
            = link_to profile_path(current_user) do
              div
                - if current_user.image_url?
                  = image_tag(current_user.image_url, class: 'user-image mR5' )
                - else
                  span.glyphicon.glyphicon-user.font-size-20.mR5
                span.header-label = current_user['full_name']
          li
            = link_to destroy_user_session_path, title: 'Sign out' do 
              span.glyphicon.glyphicon-log-out.font-size-18
        