/ alert
.alert-notification.text-center
- unless resources.blank?
  - if resources.next_page
    .text-center.clearfix
      noscript
        .alert.alert-danger
          p
            strong Ops your javascript is disabled, you have to use the next page button instead of the load more button
        = link_to resources_url, class: 'btn btn-default text-center mB30' do 
          span NEXT PAGE
          span.ion-arrow-right-a.mL10
      / load more
      = button_to resources_url, method: :get, remote: true, class: 'btn btn-md btn-default text-center', data: { loading_text: 'Loading...'}, id: 'load_more' do
         span LOAD MORE

