li.dropdown.notifications-menu
  = link_to notifications_path, class: 'dropdown-toggle', data: { toggle: 'dropdown' }, aria_expanded: 'true' do 
    span.glyphicon.glyphicon-globe.font-size-20
    span.label.label-danger.count.font-size-12
      - if current_user.notifications.size > 0
        = current_user.notifications.size
  ul.dropdown-menu
    li.header Notifications
    li.slimScrollDiv.notification-holder
      ul.menu
        = render current_user.notifications
    li.footer
    	= link_to 'View All', notifications_path