- if resource.present? && resource.user == current_user
  = button_to resources_url, method: :delete, remote: true, class: 'btn btn-md btn-danger text-center' do
    span.ion-trash-a.mR10
    span remove
