
= form_tag search_path, method: :get, id: 'search_form', enforce_utf8: false do
	- if location
		.mB10.col-md-3.pull-left
			= select_tag :location, search_location_options(params), class: 'form-control select-2', placeholder: 'Select Location'
	.input-group
	  = text_field_tag :keyword, params[:keyword], class: 'form-control', placeholder: search_placeholder
	  span.input-group-btn
	    = button_tag name: '', data: { disable_with: "Searching..." }, class: 'btn btn-success' do
	      span.ion-search