aside.main-sidebar
  section.sidebar
    ul.sidebar-menu
      li.header Personal
      / profile
      li.treeview
        = link_to profile_path(current_user)
          span.glyphicon.glyphicon-user
          span My Profile
      / pins
      li.treeview
        = link_to profile_pins_path(current_user)
          span.glyphicon.glyphicon-pushpin
          span My Pins
      / shops
      li.treeview
        = link_to '#'
          span.glyphicon.glyphicon-tent
          span My Shops
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          - unless current_user.shops.empty?
            - current_user.shops[0, 10].each do |shop|
              li
                = link_to shop_path(shop), class: 'ellipsis', title: shop.name do
                  span.ion.ion-arrow-right-c
                  span 
                    = shop.name

          li
            = link_to new_shop_path do 
              span.ion.ion-android-add-circle
              span Create new shop
          li
            = link_to profile_shops_path(current_user) do 
              span.ion.ion-ios-list
              span View all

      / tourisms
      li.treeview
        = link_to '#'
          span.glyphicon.glyphicon-tree-conifer
          span My Tourism
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          - unless current_user.tourisms.empty?
            - current_user.tourisms[0, 10].each do |tourism|
              li
                = link_to tourism_path(tourism), class: 'ellipsis', title: tourism.name do
                  span.ion.ion-arrow-right-c
                  span 
                    = tourism.name

          li
            = link_to new_tourism_path do 
              span.ion.ion-android-add-circle
              span Contribute to Tourism
          li
            = link_to profile_path(current_user) do 
              span.ion.ion-ios-list
              span View all

          li
            = link_to profile_map_path(current_user) do 
              span.ion.ion-ios-list
              span View all in the Map

      / communities
      li.treeview
        = link_to '#'
          span.glyphicon.glyphicon-blackboard
          span My Communities
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          - unless current_user.communities.empty?
            - current_user.communities[0, 10].each do |community|
              li
                = link_to community_path(community), class: 'ellipsis', title: community.name do
                  span.ion.ion-arrow-right-c
                  span 
                    = community.name

          li
            = link_to new_community_path do 
              span.ion.ion-android-add-circle
              span Create new Community
          li
            = link_to profile_communities_path(current_user) do 
              span.ion.ion-ios-list
              span View all

      / orders
      li.treeview
        = link_to '#'
          span.ion.ion-bag
          span Orders
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li
            = link_to mine_orders_path do 
              span.ion.ion-ios-list
              span My Orders
          li
            = link_to orders_path do 
              span.ion.ion-ios-list
              span Buyers Orders
