- unless @communities.blank?
  .communities
    .row
      .col-md-12
        h5.primary-color Communities that might interest you:
      - @communities.each do |community|
        .col-md-4
          .thumbnail
            - if community.banner_image?
              .image style='background-image: url(#{community.medium_url})'
            .location
              p.ellipsis
                span.glyphicon.glyphicon-map-marker.mR5
                span
                  = community.location.humanize
            .caption
              = link_to community_path(community), class: 'primary-color' do 
                p.ellipsis.primary-color
                  strong
                    = community.name.humanize
                