li.product
  - if product.user.image_url?
    img.fa src=product.user.image_url
  - else
    span.glyphicon.glyphicon-user.font-size-20
  .timeline-item
    span.label.label-success.pull-right
      = product.category
    .time
      = timeago_tag(product.updated_at, :nojs => true, :limit => 10.days.ago)
    .timeline-header
      = link_to profile_path(product.user) do
        = product.user.full_name
        
    .timeline-body
      p
        strong 
          = link_to product.name.humanize, shop_product_path(product.shop, product), class: 'title primary-color'
        strong.mL10.label.label-danger #{currency_format(product.price)}
      - if product.images.present?
        .previewer
          .preview style='background-image: url(#{product.images.first.image_url})'
            .total-preview
              h5 
                = pluralize(product.images.size, 'photo')
            / = image_tag(product.images.first.image_url)
          / = render partial: 'products/images', locals: { product: product }

      p.short-description
       = sanitize_text(product.description)
    .timeline-footer
      .clearfix
        p.pull-left
          strong.mR10.glyphicon.glyphicon-map-marker
          span
            = product.location
        p.pull-right
          strong.mR10.glyphicon.glyphicon-tent
          span 
            = link_to product.shop.name.humanize, shop_path(product.shop)

      = button_raters(product, current_user)