<% if @products.blank? %>
  $('.products .alert-notification').html("<%= escape_javascript(render 'shared/flash') %>")
  setTimeout(function() {
    $('.alert-notification').html('')
  }, 3000)
  $('button#load_more').remove()
<% else %>
  $('.products .timeline').append("<%= escape_javascript(render partial: 'product', collection:  @products) %>")
  $('button#load_more').parent().parent().attr('action', "<%= home_path(page: next_page)%>")
<% end %>