.slide-in.mT20
  .row
    .col-md-8.col-md-offset-2
      .row
        .col-md-12.mB20
          = search_form(root_path, 'Search for native product or travel package', true)
      = render 'communities'
      .products
        ul.timeline
          - if @products.blank?
            li
              .fa
              .timeline-item
                .timeline-header
                   .text-center No feeds available yet.
                 
          - else
              = render partial: 'product', collection: @products
        / load more button
        = load_more_button(@products, root_path(page: next_page))