.order-detail id='order-#{@order.id}'
  / Details
  .box.box-solid
    .box-header.with-border
      h3.box-title
        = link_to shop_product_path(@order.product.shop, @order.product) do
          = @order.product.name

    .box-body
      .row
        .col-md-6
          .panel.panel-default
            .panel-heading
              strong Details
            .panel-body
              .col-md-12
                p
                  strong.mR10 Order No:
                  span = @order.id
              .col-md-12
                p
                  strong.mR10 Reference No:
                  span = @order.reference_number
              .col-md-12
                p
                  strong.mR10 Payment Reference No:
                  span = @order.payment_reference_number
              .col-md-12
                p
                  strong.mR10 Status:
                  span.label class=status_highlighter(@order.status)
                    = @order.status.humanize
              .col-md-12
                p
                  strong.mR10 Buyer:
                  = link_to profile_path(@order.user) do
                    = @order.user.full_name.humanize
              .col-md-12
                p
                  strong.mR10 Shop:
                  = link_to shop_path(@order.product.shop) do 
                    = @order.product.shop.name.humanize
              .col-md-12
                p
                  strong.mR10 Contact:
                  span = @order.product.shop.contact_number
              .col-md-12
                p
                  strong.mR10 Shop Location:
                  span = @order.product.shop.location.humanize
              .col-md-12
                p
                  strong.mR10 Product Location:
                  span = @order.product.location.humanize
              .col-md-12
                p
                  strong.mR10 Order Date:
                  = timeago_tag(@order.created_at, :nojs => true, :limit => 10.days.ago)
        .col-md-6 
          .panel.panel-default
            .panel-heading
              strong Remarks
              .pull-right
                = timeago_tag(@order.updated_at, :nojs => true, :limit => 10.days.ago)
            .panel-body
              p = raw @order.remark
            .panel-footer
              - if (@order.owner?(user) && @order.status != 'rejected') || (@order.buyer?(user) && @order.status != 'request_sent' && @order.status != 'rejected')
                = render 'reply_form', user: user
  / History
  .box.box-solid
    .box-header
      h3.box-title History
    .box-body
      .row
        .col-md-12
          .panel-group#order-history role='tablist' aria-multiselectable='true'
            - @order.order_histories.each do |history|
              .panel.panel-default
                .panel-heading role='tab' id='history-heading-#{history.id}'
                  h4.panel-title
                    a.collapsed href='#history-collapse-#{history.id}' data-toggle='collapse' data-parent='#order-history' aria-expanded='false' aria-controls='history-collapse-#{history.id}'
                      span.label class=status_highlighter(history.status)
                        = history.status.humanize
                    .pull-right
                      small = timeago_tag(history.created_at, :nojs => true, :limit => 10.days.ago)
                .panel-collapse.collapse role='tabpanel' aria-expanded='false' id='history-collapse-#{history.id}' aria-labelled='history-heading-#{history.id}'
                  .panel-body
                    h4 Remarks:
                    p = raw history.remark
