tr id='order-#{order.id}'
  td style='width: 5%;'
    = order.id
  td
    = order.product.name
  td style='width: 10%;'
    p.label class=status_highlighter(order.status)
      = order.status
  td style='width: 15%;'
    = order.reference_number
  td style='width: 15%;'
    = order.payment_reference_number
  td style='width: 15%;'
    = timeago_tag(order.updated_at, :nojs => true, :limit => 10.days.ago)
  td style='width: 80px;'
    button.btn.btn-default.btn-flat.btn-sm type='button' data-placement='bottom' data-toggle='popover' title='Remarks' data-content=order.remark
      span.ion-information-circled
    = link_to order_path(order), class: 'btn btn-default btn-flat btn-sm', data: { toggle: 'tooltip', placement: 'left' }, title: 'See order' do 
      span.ion-arrow-right-a