.box.box-solid
  .box-header
    h5.box-title
      - if @order.owner?(user)
       = 'Respond to Buyer'
      - elsif @order.buyer?(user)
        = 'Respond to Shop Owner'
  .box-body
    .order-alert
    = form_for @order, remote: true, authenticity_token: true do |f|
      .post-alert
      / message
      .form-group
        = f.text_area :remark, class: 'form-control', placeholder: 'Say something about the order...', value: ''
      / status
      .form-group
        = f.select :status, status_options_for_order(@order, user), {}, class: 'form-control select-2', placeholder: 'Status'
      .form-group
        .clearfix
          = f.submit 'Respond', class: 'btn pull-right btn-success',  data: { disable_with: "Processing..." }