<% if @order.errors.blank? %>
  $('.resource-actions').replaceWith("<%= escape_javascript(render 'products/resource_actions') %>")
  $('.alert').remove()
<% else %>
  $('.details').prepend("<%= escape_javascript(render 'shared/flash') %>")
<% end%>