.row
  .col-md-12
    .box.buyers_orders.box-success
      .box-header
        h3.box-title Buyers orders
        .box-tools
          = search_form(orders_path, "Search for reference no.")
      .box-body.table-responsive.no-padding.pT10
        table.table-hover.table-striped.table.table-condensed
          tbody.font-size-12
            tr
              th #
              th Item
              th Status
              th Reference no.
              th Payment reference no.
              th Last updated
              td
            = render @orders
      .box-footer
        / load more button
        = load_more_button(@orders, orders_path(page: next_page))