<% if @orders.blank? %>
  $('.my_orders .alert-notification').html("<%= escape_javascript(render 'shared/flash') %>")
  setTimeout(function() {
    $('.alert-notification').html('')
  }, 3000)
  $('button#load_more').remove()
<% else %>
  $('.my_orders tbody').append("<%= escape_javascript(render @orders) %>")
  $('button#load_more').parent().parent().attr('action', "<%= mine_orders_path(page: next_page) %>")
<% end %>