.resource-actions
  - if @tourism.owner?(current_user)
    = link_to edit_tourism_path(@tourism), class: 'btn btn-default mR10' do 
      span.glyphicon.glyphicon-pencil.mR10
      span Edit
    = link_to new_tourism_path(@tourism), class: 'btn btn-success' do 
      span.glyphicon.glyphicon-briefcase.mR10
      span New
  