ul.list-group
  li.list-group-item.bg-green
    p.title
      span.pull-right
        = render 'shared/view_count_button' 
      span Details
  li.list-group-item
    p
      strong Contributed by:
      span.mL10
        = link_to profile_path(@tourism.user) do
          = @tourism.user.full_name
  li.list-group-item
    p
      strong Location:
      span.mL10
        = @tourism.location
  li.list-group-item
    p
      strong Category:
      span.mL10
        = @tourism.category
  li.list-group-item
    p 
      strong Created:
      span.mL10
        = timeago_tag(@tourism.created_at, :nojs => true, :limit => 10.days.ago)
  li.list-group-item
    p 
      strong Last Updated:
      span.mL10
        = timeago_tag(@tourism.updated_at, :nojs => true, :limit => 10.days.ago)