= form_for @tourism, role: 'form' do |f|
  .box-body
    / Name
    .form-group
      label Title
      = f.text_field :name, class: 'form-control', placeholder: 'Title'
    / Description
    .form-group
      label Description
      = f.text_area :description, class: 'form-control wysi-editor', placeholder: 'Description'
    / Category
    .form-group
      label Category
      = f.select :category, category_options_for_tourism(@tourism), {}, class: 'form-control select-2', placeholder: 'Category'
    / Images
    .form-group
      label Images
      = f.file_field :images, class: 'form-control', placeholder: 'Images', accept: 'image/png,image/gif,image/jpeg', multiple: true
    / Location
    .form-group
      label Location
      = f.select :location, location_options(@tourism), {}, class: 'form-control select-2', placeholder: 'Location'
  .box-footer
    .row
      .col-md-6.mT5
        = link_to 'Cancel', :back || root_path, class: 'btn btn-default btn-block'
      .col-md-6.mT5
        = f.submit 'Save', class: 'btn btn-block btn-success',  data: { disable_with: "Processing..." }
