- unless tourism.images.blank?
  .carousel.slide.tourism_images_slide id="tourism_images_slide-#{tourism.id}" data-ride='carousel' data-keyboard=true
    / indicators
    ol.carousel-indicators
      - tourism.images.each_with_index do |p, i|
        li data-target="#tourism_images_slide-#{tourism.id}" data-slide-to=i
    / images
    .carousel-inner
        - tourism.images.each_with_index do |image, i|
          .item class=active?(i)
            / img.col-md-12 src=image_path(image.image_url)
            = image_tag(image.image_url, class: 'col-md-12')
    / control
    = link_to "#tourism_images_slide-#{tourism.id}", class: 'left carousel-control', data: { slide: 'prev' } do
      span.fa.ion-chevron-left
    = link_to "#tourism_images_slide-#{tourism.id}", class: 'right carousel-control', data: { slide: 'next' } do
      span.fa.ion-chevron-right
