li.tourism
  - if tourism.user.image_url?
    img.fa src=tourism.user.image_url
  - else
    span.glyphicon.glyphicon-user.font-size-20
  .timeline-item
    span.label.label-success.pull-right
      = tourism.category
    .time
      = timeago_tag(tourism.updated_at, :nojs => true, :limit => 10.days.ago)
    .timeline-header
      = link_to profile_path(tourism.user) do
        = tourism.user.full_name
        
    .timeline-body
      p
        strong 
          = link_to tourism.name.humanize, tourism_path(tourism), class: 'title primary-color'
      - if tourism.images.present?
        .previewer
          .preview style='background-image: url(#{tourism.images.first.image_url})'
            .total-preview
              h5 
                = pluralize(tourism.images.size, 'photo')
        / .resource-images
          / = render partial: 'tourisms/images', locals: { tourism: tourism }
      p.short-description
       = sanitize_text(tourism.description)
    .timeline-footer
      .clearfix
        p.pull-left
          strong.mR10.glyphicon.glyphicon-map-marker
          span
            = tourism.location
      = button_raters(tourism, current_user)

        