- content_for(:content_header) do 
  .row
    .col-md-12
      h3 
        span.glyphicon.glyphicon-tree-conifer.mR10
        span Contribution - #{@tourism.name}

.row
  / form
  .col-md-8.col-md-offset-2
    .slide-in
      .box.box-success.box-solid
        .box-header
          h3.box-title 
            span.glyphicon.glyphicon-pencil.mR10
            span Edit Contribution
        = render 'form'
      / images
      - unless @tourism.images.blank?
        .box.box-solid.box-success
          .box-header
            h3.box-title
              span.glyphicon.glyphicon-picture.mR10
              span Images Uploaded
          .box-body
            .flash-message
            .row
              - @tourism.images.each do |image|
                - if image.id?
                  .col-xs-4 id="product-thumb-#{image.id}"
                    .edit-image
                      .actions
                        = button_to image_path(image), method: :delete, remote: true, data: { disable_with: '...' } do 
                          span.ion.ion-android-cancel
                      / img src=image_path(image.image_url, size: 200)
                      = image_tag(image.medium_url)
