.slide-in.mT20
  .row
    .col-md-8.col-md-offset-2
      .row
        .col-md-12.mB20
          = search_form(tourisms_path, 'Search for places, tourist spots and itinerary', true)
      .tourisms
        .clearfix.mB20
          = link_to new_tourism_path, class: 'btn btn-default btn-flat text-center' do 
            span.glyphicon.glyphicon-tree-conifer.mR10
            strong Contribute to Tourism
        ul.timeline
          - if @tourisms.blank?
            li
              .fa
              .timeline-item
                .timeline-header
                   .text-center No feeds Available yet.
                 
          - else
            = render @tourisms
        / load more button
        = load_more_button(@tourisms, tourisms_path(page: next_page))
