- content_for(:content_header) do 
  .row
    .col-md-12
      h3 
        span.glyphicon.glyphicon-tree-conifer.mR10
        span Contribute to Tourism

.row
  / form
  .col-md-8.col-md-offset-2
    .slide-in
      / Guide
      .alert.alert-success.alert-dismissible 
        button type='button' class='close' data-dismiss='alert' aria-label='Close'
          span &times;
        p
          strong Guide:
        p Write a post that can boast our local tourist attraction.
        p Example: Share your itinerary going to Vigan or your unforgettable diving experience.

      .box.box-success.box-solid
        .box-header
          h3.box-title 
            span.glyphicon.glyphicon-plus-round.mR10
            span Create a contribution
        = render 'form'
