- content_for(:content_header) do 
  .row
    .col-md-12
      h3 
        span.glyphicon.glyphicon-tree-conifer.mR10
        span
          = @tourism.name.humanize
.row
  .col-md-8
    .slide-in
      / details
      .details
        .resource-images
          = render 'action_buttons'
          = render partial: 'images', locals: { tourism: @tourism }
        .box.box-solid
          .box-header
            h3.box-title 
              span.glyphicon.glyphicon-info-sign.mR10
              span Description
          .box-body
            p
             = raw @tourism.description
          .box-footer
            = button_raters(@tourism, current_user)
      / comments
      = comments(@tourism)
  / details
  .col-md-4
    = render 'details'