- provide(:title, 'Page not found')
section.content.errors
  .iconize
    p.ion.ion-close-circled
  .jumbotron
    h1.code404 404
    h2 Sorry, page not found!
    .swing
      .alert.alert-404
        p.text-center.circle
          span.ion.ion-record
        p We could not find the page you were looking for. You may have mistyped the address or the page may have moved. 
        p.text-center.go-back
          = link_to 'Go back', :back

