- provide(:title, '500 Something went wrong')
section.content.errors
  .iconize
    p.ion.ion-bug
  .jumbotron
    h1.code500 500
    h2 Internal Server Error
    .swing
      .alert.alert-500
        p.text-center.circle
          span.ion.ion-record
        p We're sorry, but something went wrong.
        p.text-center.go-back
          = link_to 'Go back', :back