- provide(:title, '422 The change you wanted was rejected')
section.content.errors
  .iconize
    p.ion.ion-alert-circled
  .jumbotron
    h1.code422 422
    h2 The change you wanted was rejected.
    .swing
      .alert.alert-422
        p.text-center.circle
          span.ion.ion-record
        p Maybe you tried to change something you didn't have access to.
        p.text-center.go-back
          = link_to 'Go back', :back