.devise
  .row
    .col-md-6.col-md-offset-1
      = render 'devise/shared/kabuhayan_wordings'
    .col-md-4.mB100.devise-box
      .box.box-solid.box-success
        .box-header
          h3.box-title.text-center Log in
        .box-body
          = render 'shared/flash'
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-group
              = f.label :email
              = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'
            .form-group
              = f.label :password
              = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password'
            - if devise_mapping.rememberable?
              .form-group
                = f.check_box :remember_me, class: 'mR10'
                = f.label :remember_me
            .form-group
              = f.submit 'Log in', class: 'btn btn-block btn-success'
        .box-footer
          .text-center
              p -- or --
              = link_to user_omniauth_authorize_path(:facebook) do 
                = image_tag('fb-button.png')
          .clearfix
            = render "devise/shared/links"
    