.box.box-solid
  .box-header
    h5.box-title Ask question...
  .box-body
    = form_for [@community, @post], remote: true, authenticity_token: true do |f|
      .post-alert
      / message
      .form-group
        = f.text_area :content, class: 'form-control', placeholder: 'What do want to ask? or to know?'
      .form-group
        .clearfix
          = f.submit 'post', class: 'btn pull-right btn-success',  data: { disable_with: "Processing..." }