.feedback data-post=post.id
  .box.box-solid
    .box-header.with-border
      .user-avatar.pull-left
        - if post.user.image_url?
          img src=post.user.image_url
        - else
          span.glyphicon.glyphicon-user.font-size-40.mR10
      h3.box-title.pull-left
        = link_to profile_path(post.user) do
          p.mB0 = post.user.full_name
          small
            = timeago_tag(post.created_at, :nojs => true, :limit => 10.days.ago)
      .pull-right
        - if current_user == post.user
          = button_to post_path(post), method: :delete, remote: true, class: 'btn btn-sm btn-flat btn-default text-black text-center pB0 pT0', data: { disable_with: 'removing...'} do
            span remove
    .box-body
      p
        = raw post.content
    .box-footer
      = button_raters(post, current_user, { pin: true, comment: true })