.devise
  .row
    .col-md-10.col-md-offset-1.mT20.mB100
      = render 'devise/shared/kabuhayan_logo'
      .box.devise-box.box-solid.box-success
        .box-header
          h3.box-title.text-center Contact Us
        .box-body
          = render 'shared/flash'
          .contact-container
            h5 #{'#{CodeFreeze}'} Lab
            p Bel Air, Makati City
            p Metro Manila, 1209 Philippines
            p
            p Website: www.kabuhayan-portal.herokuapp.com
            p E-mail: kabuhayanportal@gmail.com