.devise
  .row
  	.col-md-10.col-md-offset-1.mT20.mB100
      = render 'devise/shared/kabuhayan_logo'
      .box.devise-box.box-solid.box-success
        .box-header
          h3.box-title.text-center Privacy Policy
        .box-body
          = render 'shared/flash'
          .policy-container
	          p This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.

	          .question 
	          	p What personal information do we collect from the people that visit our blog, website or app?
	          .answer 
	          	pWhen ordering or registering on our site, as appropriate, you may be asked to enter your name, email address or other details to help you with your experience.

	          .question 
	          	p When do we collect information?
	          .answer 
	          	p We collect information from you when you register on our site, fill out a form or enter information on our site.

	          .question 
	          	p How do we use your information?
	          .answer 
	          	p We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
	          	ul
	          		li 
	          			p To personalize user's experience and to allow us to deliver the type of content and product offerings in which you are most interested.
	          		li 
	          			p To improve our website in order to better serve you.
	          		li 
	          			p To allow us to better service you in responding to your customer service requests.

	          .question 
	          	p How do we protect visitor information?
	          .answer
	          	p We do not use vulnerability scanning and/or scanning to PCI standards.
	          	p We do not use Malware Scanning.
	          	p We do not use an SSL certificate
	          	ul
	          		li 
	          			p We only provide articles and information, we never ask for personal or private information like email addresses, or credit card numbers.

	          .question 
	          	p Do we use 'cookies'?
	          .answer 
	          	p Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.

	          .question 
	          	p We use cookies to:
	          .answer
	          	ul
	          		li 
	          			p Understand and save user's preferences for future visits.
	          	p You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.
	          	p If you disable cookies off, some features will be disabled It won't affect the users experience that make your site experience more efficient and some of our services will not function properly.

	          .question 
	          	p Third Party Disclosure
	          .answer 
	          	p We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.

	          .question 
	          	p Third party links
	          .answer 
	          	p We do not include or offer third party products or services on our website.

	          .question 
	          	p Google
	          .answer
	          	p Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en
	          	p We have not enabled Google AdSense on our site but we may do so in the future.

	          .question 
	          	p COPPA (Children Online Privacy Protection Act)
	          .answer
	          	p When it comes to the collection of personal information from children under 13, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the nation's consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.
	          	p We do not specifically market to children under 13.

	          .question 
	          	p Fair Information Practices
	          .answer 
	          	p The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.

	          .question 
	          	p In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:
	          .answer
	          	p We will notify the users via email.
	          	p We also agree to the individual redress principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or a government agency to investigate and/or prosecute non-compliance by data processors.

	          .question 
	          	p CAN SPAM Act
	          .answer 
	          	p The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.

	          .question 
	          	p We collect your email address in order to:
	          .answer 
	          	p To be in accordance with CANSPAM we agree to the following:
	          .answer 
	          	p If at any time you would like to unsubscribe from receiving future emails, you can email us at and we will promptly remove you from ALL correspondence.

	          .question 
	          	p Contacting Us
	          .answer 
	          	p If there are any questions regarding this privacy policy you may contact us using the information below.
	          .answer
	          	ul.contact
								li 
									p https://kabuhayan-portal.herokuapp.com/
								li 
									p Bel Air
								li 
									p Makati City, Metro Manila 1209
								li 
									p Philippines
								li.last 
									p kabuhayanportal@gmail.com
								li 
									p Last Edited on 2015-05-31