.devise
  .row
    .col-md-10.col-md-offset-1.mT20.mB100
      = render 'devise/shared/kabuhayan_logo'
      .box.devise-box.box-solid.box-success
        .box-header
          h3.box-title.text-center About Us
        .box-body
          = render 'shared/flash'
          .about-container
            p We witnessed a lot of small agricultural business here in the Philippines and with the help of technology, we created a portal to help our fellow Filipino in their livelihood.

            p Kabuhayan Portal is platform for small agricultural business such as fishermen, farmers, and homemakers. Post; Search; Pin are some of the major functionality of this site. It is design to help improve the livelihood of local areas. Seller can post their goods online while buyer can search for the goods they want to buy. Individuals can pin the goods they wish to buy or places they want to visit.

            p Social tourism is a social community wherein individuals can share their personal experience of different tourist destination.We integrated social tourism in order to boost the tourism of these local areas. We believe that tourism play a big impact to our livelihood, and with the help of this, people will have an idea about the place and "pasalubong" to buy.