// @import "colors";

.no-border {
  border: none !important;
}

// .border-top {
//   border-top: 1px solid $lightgrey;
// }

// .border-bottom {
//   border-bottom: 1px solid $lightgrey;
// }

.no-radius {
  border-radius: 0px !important;
}

.bg-none {
  background: none !important;
} 

// .bg-lightblue {
//   background: $light_blue !important;
//   color: $white !important;
// }

// .bg-lightbluegrey {
//   background: $lightbluegrey !important;
//   color: $white !important;
// }

// .btn-grey {
//   background: $grey_button !important;
//   color: $white !important;
// }

@for $i from 1 through 100 {
  .font-size-#{$i * 2} {
    font-size: $i * 2px !important;
  }
}

@for $j from 0 through 60 {
  .mT#{$j * 5} {
    margin-top: $j * 5px !important;
  }

  .mB#{$j * 5} {
    margin-bottom: $j * 5px !important;
  }

  .mL#{$j * 5} {
    margin-left: $j * 5px !important;
  }

  .mR#{$j * 5} {
    margin-right: $j * 5px !important;
  }

  .m#{$j * 5} {
    margin: $j * 5px !important;
  }

  .p#{$j * 5} {
    padding: $j * 5px !important;
  }

  .pT#{$j * 5} {
    padding-top: $j * 5px !important;
  }

  .pB#{$j * 5} {
    padding-bottom: $j * 5px !important;
  }

  .pL#{$j * 5} {
    padding-left: $j * 5px !important;
  }

  .pR#{$j * 5} {
    padding-right: $j * 5px !important;
  }

  .mT-#{$j * 5} {
    margin-top: -$j * 5px !important;
  }

  .mB-#{$j * 5} {
    margin-bottom: -$j * 5px !important;
  }

  .mL-#{$j * 5} {
    margin-left: -$j * 5px !important;
  }

  .mR-#{$j * 5} {
    margin-right: -$j * 5px !important;
  }

  .m-#{$j * 5} {
    margin: -$j * 5px !important;
  }

  .p-#{$j * 5} {
    padding: -$j * 5px !important;
  }

  .pT-#{$j * 5} {
    padding-top: -$j * 5px !important;
  }

  .pB-#{$j * 5} {
    padding-bottom: -$j * 5px !important;
  }

  .pL-#{$j * 5} {
    padding-left: -$j * 5px !important;
  }

  .pR-#{$j * 5} {
    padding-right: -$j * 5px !important;
  }
}

// .text-lightblue {
//   color: $light_blue;
// }

// .text-white {
//   color: $white;
// }

// .text-orange {
//   color: $orange;
// }

// .text-grey {
//   color: $grey;
// }

// .text-lightbluegrey {
//   color: $grey_button;
// }

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.inline-block {
  display: inline-block;
}

