.about {
	@media(max-width: 900px) {
		h5 {
			font-size: 24px;
			margin-bottom: 10px;
		}

    .devise-box {
    	padding: 0px !important;
    	margin-bottom: 160px !important;

      p {
        font-size: 20px;
        word-break: normal !important;
        text-align: justify;
      }
    }
  }
}