/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require admin_lte
 *= require skins/all
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-wysihtml5
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'ionicons';

.alert-notice {
  background-color: #00a65a !important;
  color: #fff !important;
  @extend .alert-success;
}

.alert-alert {
  background: #dd4b39 !important;
  color: #fff;
  @extend .alert-danger;
}


a {
  color: #333;
  &:hover {
    background: none;
    color: #000;
  }
}