.communities, .shops {
  .content-header {
    padding-top: 0px;

    h3 {
      margin: 10px 0;
      display: inline-block;
      font-size: 18px;
    }
    
    .banner-header {
      position: relative;
      overflow: hidden;
      width: 100%;
      min-height: 250px;
      height: 400px;
      max-height: 600px;

      @media(max-width: 600px) {
        height: 250px;
      }

      @media(min-width: 610px) {
        height: 400px;
      }

      .image {
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .thumbnail {
        margin: 10px auto 5px;
        text-align: center;
        color: #333;
        width: 62px;
      }
    }

    .banner-category {
      position: absolute;
      right: 5px;
      top: 7px;

      p {
        font-size: 1em;
      }   
    }

    .banner-title {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.7);
      color: #fff;
      padding-left: 10px;
    }
  }

  .content {
    .box {
      border-radius: 0;
    }
  }
}