.dialog {
  background: #ecf0f5;
  
  .wordings {
    margin: 280px 0 150px;

    @media(max-width: 1000px) {
      margin: 50px 0 50px;
    }

    @media(max-width: 900px) {
      h4 {
        font-size: 24px;
      }

      h3 {
        font-size: 22px;
      }
    }
  }

  a, a:hover {
    color: #222d32;
    text-decoration: none;
  }

  .kabuhayan-container {
    // color: #fff; changed to black
    color: #333;

    @media(max-width: 1000px) {
      margin-bottom: 20px !important;
    }

    @media(max-width: 900px) { 
      text-align: center;
      .pull-left {
        float: none !important;
      }

      h1 {
        font-size: 30px;
      }

      h4 {
        font-size: 20px;
      }
    }
    
    h1 {
      // text-shadow: 2px 3px #00a65a;
      color: #00a65a;
    }
  }

  .devise {
    // position: absolute;
    // z-index: 5;
    // height: 100%;
    // width: 100%;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;

    .devise-box {
      margin-top: 4%;

      @media(max-width: 1000px) {
        margin-top: 5%;
        padding: 0 8%;
      }
    }

    .box{
      background: rgba(255,255,255,0.7);

      .box-footer {
        background: none;
      }
    }
  }

  .dialog-banner {
    background: #222d32;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    #intro-slider {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .carousel-inner {
        height: 100%;

        .item {
          height: 100%;
          width: 100%;
          background-size: 100% 100%;
          background-position-x: center;
          background-repeat: no-repeat;

          @media(min-width: 1200px) {
            background-size: 100% auto !important;
          }

          @media(min-width: 1100px) {
            background-size: auto 100%;
          }

          @media(max-width: 999px) {
            background-size: auto 100%;
          }

          @media(max-width: 800px) {
            background-size: auto 100%;
          }

          @media(max-width: 600px) {
            background-size: auto 100%;
          } 
        }
      }
    }
  }

  .policy-container {
    height: 400px;
    overflow-y: scroll;
    padding: 10px 25px;
    text-align: justify;

    .question {
      font-weight: bold;
    }

    .answer {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    ul.contact li {
      list-style: none;

      &.last {
        margin-bottom: 10px;
      }
    }
  }

  .about-container,
  .contact-container {
    padding: 10px 25px;
    text-align: justify;
  }

  .footer {
    color: #333;
    z-index: 10;
    padding-top: 15px;
    // background: rgba(0,0,0,0.8);
    p {
      color: #333;
    }

    a {
      color: #333;
      margin-left: 10px;
    }
  }
}