.dialog {
  .errors {
    padding: 0px 15px !important;

    h1, h2 {
      text-align: center;
      color: #333;
    }

    h1 {
      &.code404 {
        color: #ff7701;
      }

      &.code422 {
        color: #db8b0b;
      }

      &.code500 {
        color: #d33724;
      }
    }

    .jumbotron {
      z-index: 2;
      position: absolute;
      left: 0;
      right: 0;
      background: none;
    }

    .iconize {
      position: absolute;
      left: 5%;
      top: 5%;
      z-index: 1;

      .ion {
        font-size: 30em;
        color: #EDE8E6;
      }
    }

    .swing {
      width: 40%;
      margin: 50px auto;

      .circle {
        margin-top: -15px;
        color: #333;
      }

      .alert {
        padding: 0px 15px 15px;
        color: #000 !important;
        border: 5px solid transparent;
        text-align: center;
        &.alert-404 {
          background: #ff7701;
          border-color: #ff851b;
        }

        &.alert-422 {
          background: #db8b0b;
          border-color: #f39c12;
        }

        &.alert-500 {
          background: #d33724;
          border-color: #f56954;
        }

        p {
          font-weight: normal;
        }

        .go-back {
          a {
            color: #fff;
          }
        }
      }
    }
    footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 3;
    }
  }
}