.timeline-footer {
  a, a:hover {
    color: #222d32 !important;
    text-decoration: none;
  }
}

.home {
  .communities {
    .thumbnail {
      position: relative;
      overflow: hidden;
      
      p {
        margin: 0;
      }
      
      .image {
        max-height: 250px;
        min-height: 140px;
        background-repeat: no-repeat;
        background-position-x: center;
        
        img {
          width: 100%;
        }
      }

      .location {
        position: absolute;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.6);
        top: 0;
        padding: 3px 0 0 6px;
        color: #000;
      }

      .caption {
        
      }
    }
  }
}

.previewer {
  position: relative;
  overflow: hidden;
  background: #fff;
  border: 1px solid #f9f9f9;
  padding: 5px 0;
  max-height: 400px;
  min-height: 50px;
  height: 400px;

  @media(max-width: 900px) {
    height: 380px;
  }

  @media(max-width: 700px) {
    height: 315px;
  }

  @media(max-width: 400px) {
    height: 200px;
  }

  .preview {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    .total-preview {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: rgba(0,0,0,0.5);
      padding: 5px 10px;
      color: #fff;

      h5 {
        font-size: 1.5em;
      }
    }
  }  
}