.sidebar-toggle:before {
  content: '' !important;
}

.timeline-image {
  position: relative;
  overflow: hidden;
  text-align: center;
}

p {
  word-break: break-all !important;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 180px;
  overflow: hidden;
}

.short-description {
  @extend .ellipsis;
  margin-top: 10px;
  max-width: 500px;
  font-size: 85%;
  color: #666;
}

textarea {
  resize: none;
  border: 1px solid #f1f1f1;
  min-height: 80px;
  max-height: 150px;
}

.carousel-control {
  &.right {
    right: 3% !important;
  }
}

@media(max-width: 450px) {
  .header-label {
    display: none;
  }
}

.fb-login {
  padding-top: 2px !important;
  padding-bottom: 1px !important;
}

.sidebar-open {
  .main-sidebar {
     visibility: visible;
  }
}

body {
  background: #ecf0f5;

  .main-header {
    z-index: 3 !important;

    .logo {
      padding: 10px 0;
      line-height: normal;
    }

    .navbar {
      li {
        a {
          padding: 12px 10px;
        }
      }
    }
  }

  .main-sidebar {
    z-index: 2 !important;
    visibility: none;
  }
}

.modal-backdrop {
  z-index: -1 !important;
}
.modal-dialog {
  z-index: 100 !important;
  margin-top: 70px !important;
}

html.turbolinks-progress-bar::before {
  background-color: rgba(34, 45, 50, 0.8) !important;
  height: 10px !important;
}

.product-title, .primary-color {
  color: #00a65a !important;
}

.secondary-color {
  color: #dd4b39 !important;
}

a:hover {
  text-decoration: none !important;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.banner_image_preview {
  .text-center {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

.edit-image {
  position: relative;
  text-align: center;
  border: 1px solid #ddd;
  overflow: hidden;
  padding: 5px 0;
  height: 160px;
  margin-bottom: 15px;

  .actions {
    position: absolute;
    right: 0;
    top: 0;
  }
}

footer {
  p {
    color: #fff;
  }

  a, a:hover {
    color: #fff;
    margin-left: 10px;
  }
}