 .message-handler {
    position: fixed;
    z-index: 1055;
    bottom: 0;
    right: 2%;
    min-width: 300px;
    max-width: 400px;

    ul {
      li {
        list-style: none;
        margin-bottom: 5px;

        .box-body {
          padding: 10px 5px;

          p {
            font-size: 14px;
          }
        }

        a {
          color: #333;
          margin-top: -10px;
        }
      }
    }
 }
