
.resource-images {
  position: relative;
  overflow: hidden;
  background: #fff;
  border: 1px solid #f9f9f9;
  padding: 15px 0;
  min-height: 80px;
  
  .carousel {
    min-height: 100px;
  }
  
  .item {
    img {
      margin: auto;
      width: 100% !important;
    }
  }
}

.box {
  background: #f9f9f9;
}

.resource-actions {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}

.feedbacks {
  .box {
    background: none;
    box-shadow: none;

    .box-header {
      button {
        color: #fff;
      }
    }

    .box-footer {
      background: none;
      border: none;
    }
  }

  .feedback {
    .user-avatar {
      img {
        border-radius: 2px;
        width: 75%;
        height: 75%;
      }
    }

    .box {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;

      .box-body {
        background: #f9f9f9;
      }
    }
  }
}