.profile-holder {
  text-align: center;

  .img {
    border: 1px solid #ddd;
    display: inline-block;
    font-size: 6em;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    width: 65%;
  }

  .links {
    margin-bottom: 10px;
    span {
      font-size: 1.7em;
    }
  }
}