.shops {
  .details {
    .box {
      background: #f9f9f9;
    }
  }

  .products {
    margin: 30px 0;
    border-bottom: 1px solid #ddd;
    outline: 1px solid #f1f1f1;
    
    .item {
      background-color: #fff;
      margin: 10px auto;
      border: 1px solid #ddd;
      border-radius: 5px;
      overflow: hidden;

      .image-holder {
        text-align: center;
        min-height: 50px;
        height: 220px;
        overflow: hidden;
        
        .item-image {

          .inner-image {
            position: relative;
            padding: 5px;
            background-size: cover;
            height: 220px;

            @media(max-width: 900px) {
              height: 200px;
            }

            @media(max-width: 700px) {
              height: 300px;
            }

            @media(max-width: 400px) {
              height: 200px;
            }

            p {
              padding-top: 10px;
              color: #333;
            }
          }
        }
      }

      .item-content {
        background: #f1f1f1;
        border-top: 1px solid #DDDDDD;
        padding: 0.5em 1em;
        color: #333;

        p {
          font-size: 100%;
        }

        h4 {
          color: #00a65a !important;
          margin: 0px 0 10px
        }
      }

      .timeago {
        background: #f9f9f9;
        border-top: 1px solid #DDDDDD;
        p {
          margin: 0;
          padding: 10px 0;
          text-align: center;
          color: #999;
        }
      }
    }
  }
}