ul.list-group
  li.list-group-item.bg-green
    p.title 
        span.pull-right
          = render 'shared/view_count_button'
        span Details
  li.list-group-item
    p
      strong Shop:
      strong.mL10 
        = link_to @product.shop.name.humanize, shop_path(@product.shop), class: 'primary-color'
  li.list-group-item
    p
      strong Shop Owner:
      span.mL10
        = link_to profile_path(@product.user) do
          = @product.user.full_name
  li.list-group-item
    p
      strong Price:
      span.mL10
        = currency_format(@product.price)
  li.list-group-item
    p
      strong Category:
      span.mL10
        = @product.category
  li.list-group-item
    p
      strong Status:
      span.mL10
        = @product.status.humanize
  li.list-group-item
    p
      strong Location:
      span.mL10
        = @product.location
  li.list-group-item
    p
      strong Contact:
      span.mL10 
        = @product.shop.contact_number
  li.list-group-item
    p 
      strong Created:
      span.mL10
        = timeago_tag(@product.created_at, :nojs => true, :limit => 10.days.ago)
  li.list-group-item
    p 
      strong Last Updated:
      span.mL10
        = timeago_tag(@product.updated_at, :nojs => true, :limit => 10.days.ago)