- unless product.images.blank?
  .carousel.slide.product_images_slide id="product_images_slide-#{product.id}" data-ride='carousel' data-keyboard=true
    / indicators
    ol.carousel-indicators
      - product.images.each_with_index do |p, i|
        li data-target="#product_images_slide-#{product.id}" data-slide-to=i
    / images
    .carousel-inner
        - product.images.each_with_index do |p, i|
          .item class=active?(i)
            / img.col-md-12 src=image_path(p.image_url)
            = image_tag(p.image_url, class: 'col-md-12')
    / control
    = link_to "#product_images_slide-#{product.id}", class: 'left carousel-control', data: { slide: 'prev' } do
      span.fa.ion-chevron-left
    = link_to "#product_images_slide-#{product.id}", class: 'right carousel-control', data: { slide: 'next' } do
      span.fa.ion-chevron-right
