- unless @shop.blank?
  .box.box-success.box-solid
    .box-header
      h3.box-title Related Products
      .box-tools.pull-right
        button.btn.btn-box-tool data-widget='collapse'
          span.ion.ion-minus
    .box-body
      - if (@shop.products - [@product]).empty?
        p.text-center No related products found.
      - else
         ul.products-list.product-list-in-box
          - (@shop.products - [@product])[0, 10].each do |product|
            = link_to shop_product_path(product.shop, product) do
              li.item
                .product-info
                  .product-title
                    = product.name.humanize
                  .product-description
                    = product.location 