.resource-actions
  - if @product.owner?(current_user)
    = link_to edit_shop_product_path(@product.shop, @product), class: 'btn btn-default btn-flat' do 
      span.glyphicon.glyphicon-pencil.mR10
      span.header-label Edit
    = link_to new_shop_product_path(@product.shop), class: 'btn btn-default btn-flat' do 
      span.glyphicon.glyphicon-plus.mR10
      span.header-label Add new to #{@product.shop.name.humanize}
  - else
    - if (order = request_sent_to_buy?(@product)).present?
      = button_to order_path(order), method: :delete, remote: true, class: 'btn btn-danger btn-flat' do
        span.ion-android-cart.mR10
        span.header-label Cancel buy request
    - elsif (order = order_in_processed?(@product)).present?
      = link_to order_path(order), class: 'btn btn-default btn-flat' do
        span.ion-android-cart.mR10
        span 
          = order.status.gsub('_', ' ')
    - else
      = button_to orders_path(product: @product), method: :post, remote: true, class: 'btn btn-success btn-flat' do
        span.ion-android-cart.mR10
        span.header-label Send buy request