- content_for(:content_header) do 
  .row
    .col-md-12
      h3 
        span.glyphicon.glyphicon-tags.mR10
        span Product - #{@product.name}

.row
  / form
  .col-md-8
    .slide-in
      .box.box-success.box-solid
        .box-header
          h3.box-title 
            span.glyphicon.glyphicon-pencil.mR10
            span Edit Product
        = render 'form'
      / images
      - unless @product.images.blank?
        .box.box-solid.box-success
          .box-header
            h3.box-title
              span.glyphicon.glyphicon-picture.mR10
              span Images Uploaded
          .box-body
            .flash-message
            .row
              - @product.images.each do |image|
                - if image.id?
                  .col-xs-4 id="product-thumb-#{image.id}"
                    .edit-image
                      .actions
                        = button_to image_path(image), method: :delete, remote: true, data: { disable_with: '...' } do 
                          span.ion.ion-android-cancel
                      = image_tag(image.medium_url)

  / shops
  .col-md-4
    = link_to shop_path(@product.shop), class: 'btn btn-success btn-block mB10' do 
      span.glyphicon.glyphicon-tent.mR10
      span Go to #{@product.shop.name.humanize}
    = render 'related_products'