- content_for(:content_header) do 
  .row
    .col-md-12
      h3 
        span.glyphicon.glyphicon-tags.mR10
        span Add new product to #{@shop.name} shop

.row
  / form
  .col-md-8
    .slide-in
      .box.box-success.box-solid
        .box-header
          h3.box-title 
            span.glyphicon.glyphicon-plus-round.mR10
            span New product
        = render 'form'

  / related products
  .col-md-4
    = link_to shop_path(@shop), class: 'btn btn-success btn-block mB10' do 
      span.glyphicon.glyphicon-tent.mR10
      span Go to #{@shop.name.humanize}
    = render 'related_products'