- content_for(:content_header) do 
  .row
    .col-md-12
      h3 
        span.glyphicon.glyphicon-tags.mR10
        span
          = @product.name.humanize
.row
  .col-md-8
    .slide-in
      / details
      .details
        .resource-images
          = render 'resource_actions'
          = render partial: 'images', locals: { product: @product }
        .box.box-solid
          .box-header
            h3.box-title 
              span.glyphicon.glyphicon-info-sign.mR10
              span Description
          .box-body
            p
             = raw @product.description
             
          .box-footer
            = button_raters(@product, current_user)

      / comments
      = comments(@product)
  / details
  .col-md-4
    = render 'details'
    = render 'related_products'