li.community id='community-#{community.id}'
  span.font-size-20.glyphicon.glyphicon-blackboard
  .timeline-item
    span.label.label-success.pull-right
      = community.category.downcase
    .time
      = timeago_tag(community.created_at, :nojs => true, :limit => 10.days.ago)
    .timeline-header
      = link_to community.name.humanize, community_path(community), class: 'title primary-color'
    .timeline-body
      .timeline-image
        - if community.banner_image?
          .previewer
            .preview style='background-image: url(#{community.banner_image_url})'
        - else
          span.ion-image
      p.short-description
       = sanitize_text(community.description)
    - if community.owner?(current_user)
      .timeline-footer.with-border
        .clearfix
          .pull-right
            = link_to edit_community_path(community), class: 'btn btn-sm pT0 pB0 btn-default btn-flat' do
              span.ion-edit.mR10
              span edit
