= form_for @community, role: 'form' do |f|
  .box-body
    / Name
    .form-group
      label Name
      = f.text_field :name, class: 'form-control', placeholder: 'Name'
    / Description
    .form-group
      label Description
      = f.text_area :description, class: 'form-control wysi-editor', placeholder: 'Description'
    / Category
    .form-group
      label Category
      = f.select :category, category_options_for_community(@community), {}, class: 'form-control select-2', placeholder: 'Category'
    / Location
    .form-group
      label Location
      = f.select :location, location_options(@community), {}, class: 'form-control select-2', placeholder: 'Location'
    / Banner Image
    .form-group
      label Banner Image(recommended banner size: 1024x500 pixel)
      = f.file_field :banner_image, class: 'form-control', placeholder: 'Banner Image', accept: 'image/png,image/gif,image/jpeg'
  .box-footer
    .row
      .col-md-6.mT5
        = link_to 'Cancel', :back || root_path, class: 'btn btn-default btn-block'
      .col-md-6.mT5
        = f.submit 'Save', class: 'btn btn-block btn-success',  data: { disable_with: "Processing..." }