.resource-actions
  - if @community.owner?(current_user)
    = link_to edit_community_path(@community), class: 'btn btn-default btn-sm mR10' do 
      span.glyphicon.glyphicon-pencil.mR10
      span Edit