- content_for(:content_header) do 
  .row
    .col-md-12
      h3 
        span.glyphicon.glyphicon-blackboard.mR10
        span Create New Community

.row
  / form
  .col-md-8.col-md-offset-2
    .slide-in
      .box.box-success.box-solid
        .box-header
          h3.box-title 
            span.glyphicon.glyphicon-plus-round.mR10
            span New Community
        = render 'form'