- content_for(:content_header) do 
  .row
    .col-md-10.col-md-offset-1
      .banner-header
        - unless @community.banner_image.blank?
          .image style='background-image: url(#{@community.banner_image_url})'
        .banner-title
          h3
            = @community.name.humanize
          / view count
          .pull-right.links.mR10.mB10
            = link_to profile_path(@community.user), class: 'thumbnail', data: { placement: 'left' }, title: "Creator: #{@community.user.full_name.humanize}" do
              - if @community.user.image_url?
                = image_tag(@community.user.image_url)
              - else
                span.ion-person.font-size-30
            = render 'shared/view_count_button'
          p
            strong.glyphicon.glyphicon-map-marker.mR10
            span = @community.location.humanize
          
        .banner-category
          p.label.label-danger
            = "Community: #{@community.category.humanize}"
        .mL10
          = button_raters(@community, current_user, { comment: true })

.row
  .col-md-10.col-md-offset-1
    .slide-in.mT-15
      / details
      .details
        .box.box-solid
          .box-header
            h3.box-title
              .mT10
                span.glyphicon.glyphicon-info-sign.mR10
                span.header-label Description
              = render 'resource_actions'
          .box-body
            p
             = raw @community.description
      .row
        .col-md-10.col-md-offset-1
          .posts.feedbacks id='posts-community-#{@community.id}'
            / form
            = render 'posts/form'
            .inner-posts
              = render @posts
            / load more button
            = load_more_button(@posts, community_path(@community, page: @next_page))