<% if @posts.blank? %>
  $('#posts-community-<%= @community.id %> .alert-notification').html("<%= escape_javascript(render 'shared/flash') %>")
  setTimeout(function() {
    $('.alert-notification').html('')
  }, 3000)
  $('button#load_more').remove()
<% else %>
  $('#posts-community-<%= @community.id %> .inner-posts').append("<%= escape_javascript(render partial: 'posts/post', collection:  @posts) %>")
  $('button#load_more').parent().parent().attr('action', "<%= community_path(@community, page: next_page)%>")
<% end %>