doctype html
html
  head
    meta name='viewport' content='initial-scale=1.0, width=device-width'
    title Kabuhayan Portal
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag :modernizr
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"
    script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'

  body.skin-green.sidebar-collapse class=controller_name data-user=current_user.id
    = query_diet_widget(:bad_count => 20, :bad_time => 1000) if Rails.env.development?
    .wrapper
      = render 'shared/header'
      = render 'shared/sidebar'
      .content-wrapper
        section.content-header.bounceInDown
          = yield(:content_header)
        section.content
          = render 'shared/flash'
          = content_for?(:content) ? yield(:content) : yield
        = render 'shared/loader'
      = render 'shared/footer'