doctype html
html
  head
    meta name='viewport' content='initial-scale=1.0, width=device-width'
    title Kabuhayan Portal
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag :modernizr
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body.dialog class=controller_name
    = query_diet_widget(:bad_count => 4, :bad_time => 2000) if Rails.env.development?
    = yield
    = render 'shared/footer'